/* ==UserStyle==
@name         Wikipedia: Cleaner Darker
@namespace    github.com/Anton-Latukha
@version      0.53.9
@description  Dark and light theme for GitLab and self-hosted GitLab instances.
@author       vednoc <vednoc@pm.me> (https://github.com/Anton-Latukha)
@homepageURL  https://github.com/Anton-Latukha/wiki-cleaner-darker
@supportURL   https://github.com/Anton-Latukha/wiki-cleaner-darker/issues
@updateURL    https://github.com/Anton-Latukha/wiki-cleaner-darker/raw/master/wiki.user.styl
@preprocessor stylus
==UserStyle== */

@-moz-document
domain("wikipedia
		&.org")
@import url("https //github.com/Anton-Latukha/wiki-cleaner-darker/raw/master/main.styl")
